﻿@import "fonts";
@import "defaults";
@import "bootstrap";
@import "modules";
@import "pages";
@import "plugins";

body {
    background-color: #fff; 
}

a {
    text-decoration: underline;
    outline: none;
}

.nav,
.heading {       
    user-select: none;
}

.nav.main-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    
    li {
        
        a {
            background-color: transparent;
            color: #000;            
            padding-left: 0;
            padding-right: 0;
            max-width: 100px;
            text-decoration: none;
            
            span {
                display: block;
                padding-top: 3px;
            }
            
            .pumbicon {
                font-size: 39px;
            }
            
            &:hover {
                color: $gray;
                
                span {
                    border-bottom: 1px solid;
                }
                
                .pumbicon {
                    border-bottom: 0;
                }
            }
        }
    }
    
    &:before,
    &:after {
        display: none;
    }
}

.list-cards {

    .card-pic {
        padding-top: 10px;
        margin-right: -25px;

        img {
            max-width: 100%;
        }
    }

    .card-title {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .card-state {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .card-owner,
    .card-date {
        border-top: 1px solid #f1f2f4;
        margin-top: 2px;
        padding-top: 8px;
        padding-bottom: 6px;
        color: #6b6b6b;
    }
}

.list-group-item {
    .temp-title {
        
    }
    .temp-details {
        text-align: right;
        color: #767676;
    }
    .temp-amount {
        clear: both;
    }
    .temp-controls {
        text-align: right;
        color: #767676;
    }
}

.list-group-item {
    
    .item-collapse {
        color: #767676;
        
        > .row {
            padding: 15px 0 0;    
        }
        
        .item-title {
            padding-left: 15px;
        }
        
        .item-text {
            font-size: 12px;
            text-align: right;
            color: #767676;
        }
    }
}

.chat-wrapp {
    padding-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    
    .chat-row {
        border-bottom: 1px solid #d9dce3;
        margin-left: 0;
        margin-right: 0;
    }

    .chat-link {
        bottom: 0;
        background-color: #d8d8d8;
        padding: 10px 20px;
        text-decoration: none;
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        float: right;
        
        span {
            margin: 0 10px;
        }
        
        &:hover {
            background-color: lighten(#d8d8d8, 2); 
            color: darken(#4a4a4a, 15);
        }
    }
    
    &.stoped {
        background-color: #fff;
        position: relative;
        margin-bottom: -63px;
    }
}

.back-wrapp {
    padding-top: 5px;
    padding-bottom: 20px;
    
    .btn.btn-fill {
        background-color: #fff;
        padding: 6px 30px;
    }
}

.breadcrumb-control {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
}

@media (max-width: $grid-float-breakpoint-max) {
    .card-owner {
        clear: both;
    }
    .card-date {
        text-align: right;
    }
    .default-controls {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    
    .breadcrumb {
        padding-top: 18px;
        border-top: 1px solid #d5d7dd;
        line-height: 2;
    }
    
    .text-right-xs {
        text-align: right;
    }
}

@media (min-width: $grid-float-breakpoint-max+1) {
    .nav.main-menu {
        font-size: 20px;
        line-height: 24px;        
        padding: 20px 0;
        
        li {
            
            a {
                max-width: none;
                
                span {
                    display: inline-block;
                    padding-top: 0;
                    margin-left: 10px;
                }
            }
        }
        
        &:before,
        &:after {
            display: none;
        }
    }
    
    .card-state {
        text-align: right;
    }
    .card-owner,
    .card-date {
        float: right;
    }
    
    .breadcrumb {
        font-size: 14px;
    }
    
    .list-group-item {
        .temp-title {
            
        }
        .temp-details {
            text-align: left;
        }
        .temp-amount {
            text-align: left;
            clear: none;
        }
        .temp-controls {
            text-align: left;
        }
    }
    
    .list-group-item .item-collapse .item-title {
        padding-left: 30px;
    }
}


.pumbicon {
    display: inline-block !important;
    vertical-align: middle;
    line-height: 1em;
    text-decoration: none !important;
    
    &:before {
        content: '\2588\2588';
        display: block;
        color: transparent;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    &.pumbicon-pdf:before {
        background-image: url('../img/icon-pdf.svg');
    }
    
    &.pumbicon-home:before {
        background-image: url('../img/icon-home.svg');
    }
    
    &.pumbicon-pays:before {
        background-image: url('../img/icon-pays.svg');
    }
    
    &.pumbicon-settings:before {
        background-image: url('../img/icon-settings.svg');
    }
    
    &.pumbicon-notify:before {
        background-image: url('../img/icon-notify.svg');
    }
    
    &.pumbicon-servicespay:before {
        background-image: url('../img/icon-servicespay.svg');
    }
    
    &.pumbicon-homepay:before {
        background-image: url('../img/icon-homepay.svg');
    }
    
    &.pumbicon-chat:before {
        background-image: url('../img/icon-chat.svg');
    }
    
    &.pumbicon-success:before {
        background-image: url('../img/icon-success.svg');
    }
    
    &.pumbicon-lock:before {
        background-image: url('../img/icon-lock.svg');
    }
    
    &.pumbicon-signin:before {
        background-image: url('../img/sign-in.svg');
    }
    
    &.pumbicon-signout:before {
        background-image: url('../img/sign-out.svg');
    }
}
@media (min-width: 980px) {
    .min-pad-colum {
        padding-right: 5px;
    }
}
.main{
    margin-top: -40px; 
}
/*slider*/
.slide-block{
    width:370px !important;
    height:220px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    float:left;
    margin-right: 16px !important;
    background: #FFF;
    h2{
        margin-top:38px;
        font-size: 20px;
        text-align: center;
        color: #000;
        position: relative;
        display: block;
        height: 40px;
        font-weight: 300; 
    }
    .icon-transfer-card{
        position: absolute;
            content: "";
            left: 12px;
            top:-5px;
            width: 40px;
            height: 28px;
            padding-right: 20px; 
            background: url(../img/transfer-card.png) no-repeat;
    }
    .icon-transfer-mobile{
        position: absolute;
            content: "";
            left: 20px;
            top:-10px;
            width: 28px;
            height: 39px;
            padding-right: 20px; 
            background: url(../img/transfer-mobile.png) no-repeat center;
    }
    .icon-transfer-comunal{
        position: absolute;
            content: "";
            left: 10px;
            top:-5px;
            width: 36px;
            height: 34px;
            padding-right: 20px; 
            background: url(../img/transfer-comunal.png) no-repeat;
    }
    .icon-transfer-tv{
        position: absolute;
            content: "";
            left: 10px;
            top:-5px;
            width: 46px;
            height: 34px;
            padding-right: 20px; 
            background: url(../img/transfer-tv-in.png) no-repeat;
    }
    .txt-name{
        margin-left: 50px; 
    }
    .card-wr{
            float: none;
            margin-right: auto;
            margin-left: auto;
    }
    .sbmt-pay{
        background-color: #33658e;
        color: #FFF;
        font-size: 14px;
        padding: 6px 12px;
    }
    .sum-nd-pay{
        padding-right: 0; 
    }
    input{
        background-color: #eceef0;
        opacity: 0.71;
        box-shadow:none;
        border:none;
        margin-left: 0;
    }
    select{
        background-color: #eceef0;
        opacity: 0.71;
        box-shadow:none;
        border:none;
        margin-left: 0;
        padding: 6px 0px;
    }
    .card-min{
        margin:-28px 0 0 0;
    }
}
/*services*/
.services{
    margin-top:140px;
    h3{
        font-family: Helvetica;
        font-size: 44px;
        font-weight: 300;
        color: #000; 
        line-height: 53px;
    }
    h6{
        color: #666;
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    }
    .form-group{
        margin-top:10px;
    }
    .dropdown-toggle{
        border: 1px solid #e9e9e9;
        opacity: 0.7;
        color: #757b80;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        padding: 11px;
    }
    .low-pad-r{
        padding-right: 0;
        padding-left: 0;  
    }
    .live-search{
        border: 1px solid #e9e9e9;
        opacity: 0.7;
        color: #757b80;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        padding: 12px 0 12px 0;
        padding-left: 50px; 
    }
    .search{
         position: relative;
         padding-right: 0 !important;
    }
    .btn-search{
        position: absolute;
        left:20px;
        top:0;
        width: 30px;
        height: 45px;
        border:none;
        background: url(../img/ico-search.svg) no-repeat right;
    }
    @media (max-width: 1199px){
    margin-top: 40px;
    }
}
/*gallery*/
.gallery{
    margin-top:20px;
    div{
        height:350px;
        box-shadow: 0 1px 3px rgba(105, 105, 105, 0.57);
        transition:opacity .35s ease;
        &:hover{
            opacity: 0.8; 
        }
    }
    h2{
        color: #626e6b;
        font-family: Helvetica;
        font-size: 38px;
        font-weight: 300;
    }
    h6{
        color: #666;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }
    .mobile{
        background:url(../img/mobile-card.jpg);
        h2{
            padding: 50px 0 0 43px;
        }
        h6{
            padding-left: 43px; 
        }
    }
    .penalty{
        background:url(../img/penalty-card.jpg);
        h2{
            padding: 43px 0 0 36px;
        }
        h6{
            padding-left: 36px; 
        }
    }
    .credits{
        background:url(../img/credit-card.jpg);
        h2{
            padding: 49px 0 0 34px;
        }
        h6{
            padding-left: 34px; 
        }
    }
    .internet{
        background:url(../img/internet-card.jpg);
        h2{
            padding: 43px 0 0 36px;
        }
        h6{
            padding-left: 36px; 
        }
    }
    .comunal{
        background:url(../img/comunal-card.jpg);
        h2{
            padding: 106px 0 0 43px;
        }
        h6{
            padding-left: 43px; 
        }
    }
    .tickets{
        background:url(../img/tickets-card.jpg);
        h2{
            padding: 43px 0 0 34px;
        }
        h6{
            padding-left: 34px; 
        }
    }
}
.more-serv{
        text-align: center;
        display: block;
        margin-top:20px;
        color: #4b769b;
        font-family: Helvetica;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-decoration: underline;
    }
.security{
    margin-top:160px;
    text-align: center;
    div{
        height: 300px;
        margin-top:45px;
    }
    h2{
        font-family: Helvetica;
        font-size: 44px;
        font-weight: 300;
        line-height: 53px;
        text-align: left;
    }
    h3{
        color: #d2202a;
        font-size: 25px;
        font-weight: 300;
        line-height: 29px;
    }
}
/*tab panels*/
.tab-logo{
    height: 100%;
    float: left;
    margin: 70px 90px 0 0;
}
.tab-txt{
    h2{
        font-size: 36px;
        font-weight: 400;
        line-height: 50px;
        color:#000;
    }
    p{
        color: #3e3e3e;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        margin-top:24px;
    }
}
.nav-tabs{
    background-color: #f7f7f7;
}
.tab-pane{
    background-color: #f7f7f7;
    height: 460px !important;
}
.grey-tabs{
    background-color: #f7f7f7;
    width: 100%; 
}
.grey-tabs{
    .panel{
        box-shadow:none;
    }
}
.android-downl{
    display: block;
    float: left;
    margin:5px 0 0 5px;
    text-align: center;  
}
.andr-col{
    margin:0;
    padding: 0;
    img{
        float: left;
    }
}