.footer {
    @include clearfix;
    color: #898989;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    background-color: #fff;
    box-shadow:none !important;
    border:none !important;
    margin-top: 30px !important;
    
    .phone {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        color: #151b26;
    }
}

@media (max-width: $grid-float-breakpoint-max) {
    .footer {
        margin-top: 10px;
        margin-bottom: 0;
        padding: 10px 0;
    }
}

@media (min-width: $grid-float-breakpoint-max+1) {
    .footer {
        margin-top: 63px;     
        padding: 20px 0; 
        
        .phone {
            font-size: 27px;
            line-height: 27px;
        }
    }
}