.header {
    background: url(../img/main-back.png) no-repeat top center;
    background-size: cover;
    height: 660px;

    .navbar-default {
        border: 0;
        margin-bottom: 0;
        background-color: transparent;
    }

    .logo {
        float: left;
    }

    .own-service {
        float: left;
        padding-left: 0; 
        li {
            display: inline-block;
            margin: 35px 5px 0 5px;

            a {
                color: #ffffff;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }
}
.login{
    float:right;
    margin-top:20px;
    input{
        margin-right:5px;
        display:block;
        float:left;
        border-radius: 2px;
        font-size: 14px;
        padding:6px;
        box-shadow:none;
        border:none;
    }
    select{
        background:none;
        color:#ffffff;
        border-color:#fff;
        padding:6px;
        margin-left: 15px;
        float:left;
        option{
            color:#000;
        }
    }
     @media (max-width: 1199px){
    margin: 0 auto;
    width: 100%;
    }
}
.reg-banner {
    .reg-title {
        color: #ffffff;
        font-size: 56px;
        font-weight: 300;
    }
    p{
        max-width:555px;
        color:#ffffff;
        font-size: 18px;
        font-weight: 400;
    }
}
.btn-danger-red{
        background-color: #e5001a;
        padding:11px 35px 11px 35px;
        margin-top:50px;
        color:#ffffff;
        &:hover{
          color:#ffffff;  
        }
    }
.btn-login{
    background-color: #2d5883;
    color:#fff;
    font-size: 14px;
    float:left;
    margin:0 5px 0 5px;
    transition: background .3s ease;
    &:hover{
        color:#fff;
        background: #7693A9;
    }
}
.links-reg{
    float:left;
    clear:both;
    a{
        width:50%;
        font-size: 12px;
        text-decoration:none;
        color:#ffffff;
        margin-right:60px;

    }
}