.label {
    display: inline-block;
    padding: .2em 0 .3em;
    font-size: 100%;
    font-weight: 400;
    line-height: inherit;
    color: inherit;
    text-align: center;
    white-space: normal;
    vertical-align: baseline;
    border-radius: 0;
    background: transparent !important;
    border: none;
    
    > .glyphicon,
    > .pumbicon,
    > img {
        margin-right: 0;
    }
}

.label-default {
    color: #4a4a4a;
}

.label-primary {
    color: $brand-primary;
}

.label-success {
    color: $brand-success;
}

.label-info {
    color: $brand-info;
}

.label-warning {
    color: $brand-warning;
}

.label-danger {
    color: $brand-danger;
}
