$mobile-padding: 5px;

@media (max-width: $grid-float-breakpoint-max) {
    .panel {
        font-size: 11px;
        
        @for $i from 1 through 12 {
            .col-xs-#{$i} {
                padding: 0 $mobile-padding;
            }
        } 
        
        .col-xs-2 {
            text-align: center;
        }
        
        .panel-body,
        .panel-heading,
        .list-group-item {
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
        }
        
        .list-group-item {
            padding-right: 10px !important;
        }
        
        .row {
            margin-left: -$mobile-padding;
            margin-right: -$mobile-padding;
        }
        
        .btn {
            font-size: 12px;
        }
        
        b {
            font-size: 14px;
        }
        
        // .money-holder {
        //     padding-top: 5px;
        //     text-align: left;
        // }
    } 
    
    .banner {
        text-align: center;
        
        .img-responsive {
            display: inline-block;
        }
    }       
}   

.panel {
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: none;
    line-height: 20px;
    
    .panel-title {
        font-weight: 300;
        color: #333;
        margin-left:-15px;
    }
    
    .list-group-item-heading {
        color: #767676;
    }
    
    .panel-heading {
        user-select: none;
        overflow: hidden;
        border-bottom: none;
        background: transparent;
        
        &[data-toggle] {
            pointer-events: all;
            cursor: pointer;
            min-height: 18px;
            line-height: 18px;
            
            .collapse-arrow {
                height: 18px;
                position: relative;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../img/arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 20px 20px;
                    transform: rotate(90deg);
                    transition: transform 250ms;
                }
                    
            }
            
            &[aria-expanded="true"] .collapse-arrow:before {
                transform: rotate(-90deg);
            }
        }
    }
    
    .panel-body {
        overflow: hidden;
        border-top: 1px solid #d9dce3;
        padding-top: 0;
        padding-bottom: 0;
        
        b {
            color: #333;
            font-weight: 400;
        }
        
        .descript-title {
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
            color: #767676;
            padding-left: 15px;
            padding-top: 10px;
        }
        
        span.descript-title {
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
        }

        .descript-text {
            text-align: right;
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
            color: #767676;
            padding-top: 10px;
        }
        
        .item-controls {
            padding-top: 2px;
        }
    }
    .text-primary {
                margin-left:-15px;
            }
    .list-group-item {
        border-color: #f1f2f4;
        
        &[data-toggle] {
            user-select: none;
            cursor: pointer;
            min-height: 18.5px;
            line-height: 18.5px;
            
            .text-primary {
                border-bottom: 1px dotted;
                margin-left:-15px;
            }
            
            .collapse-arrow {
                height: 18.5px;
                position: relative;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../img/arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 13px 13px;
                    transform: rotate(90deg);
                    transition: transform 250ms;
                }
                    
            }
            
            &[aria-expanded="true"] .collapse-arrow:before {
                transform: rotate(-90deg);
            }
        }
    }
    
    .list-group-item.disabled {
        background-color: #f9f9f9;
    }
}

.panel-controls {
    position: absolute;
    top: -8px;
    right: 0;
    padding: $panel-heading-padding;
    max-width: 50%;
    
    .btn-link {
        @include button-size($padding-base-vertical, 0, $font-size-base, $line-height-base, $btn-border-radius-base);
        margin-left:-15px;
    }
    
    @media (max-width: $grid-float-breakpoint-max) {
        & {
            top: -4px;
        }
        
        .btn-fill,
        .btn-link {
            @include button-size(4px, 8px, 11px, $line-height-base, $btn-border-radius-base);
        } 
    } 
}

.row.list-group-item {
    padding-left: 0;
    padding-right: 0;
    
    .col-xs-2:first-child {
        text-align: center;
    }
}

.banner {
    
    .panel-body {
        padding: 15px;
        border-color: transparent;
    }
    
    a.row {
        @include clearfix;
        color: #000;
        display: block;
    }
    
    .text {
        font-size: 22px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
    }
}

.panel.panel-tabs {
    
    h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
    }
    
    .panel-heading {
        padding: 0;
        border-color: transparent;
    }
    
    .panel-body {
        border-color: transparent;
    }
    
    .tab-pane {
        @include clearfix;
        padding: 10px 15px;
        overflow: hidden;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    .nav-tabs {
        border-color: transparent; 
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        font-family: empty;
        white-space: nowrap;
        padding-bottom: 20px;
        margin-bottom: -20px;
        text-align: center;
        
        > li {
            font-family: $font-family-base;
            display: inline-block;
            vertical-align: top;
            float: none;
            min-height: 60px;
            white-space: nowrap;
            //width: 40%;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            
            > a:focus,
            > a:active,
            > a {
                border-color: transparent;
                background-color: #dfdfdf;              
                text-decoration: none;
                border-radius: 0;
                color: #626e6b;
                font-size: 23px;
                font-weight: 400;
                line-height: 16px;
                padding:20px;
            } 
            
            > a:hover {
                background-color: lighten(#bec2ca, 5%);
            }
            
            &.active {
                
                > a:hover,
                > a:focus,
                > a:active,
                > a {
                    border-color: transparent;
                    background-color: transparent;
                }
            }   
        }
        
        &:before,
        &:after {
            display: none;
        }
    }
    
    .nav-tabs>li:last-child>a {
        border-right: none;
        margin-right: 0;
    }
    
    form {
        
        .row {
            margin-bottom: 20px;
        }
    }
    
    .links-logo {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: empty;
        
        li {
            font-family: $font-family-base;
            display: inline-block;
            vertical-align: middle;
            width: 25%;
            
            a {
                padding: 5px 8px;
                display: block;
                border: 1px solid transparent;  
                border-radius: 10px;  
                
                img {
                    max-width: 100%;
                }
                
                &:hover {
                    border-color: #f1f2f4;
                    background-color: #f8f8f8;
                }
            }
        }
    }
    
    .internet-tv {
        
        .links-logo {
            
            li {
                width: 50%;
            }
        }
    }
    
    .communal {
        
        .links-logo {
            text-align: center;
                        
            li {
                width: 50%;   
                margin: 15px 0;   
            }
        }
    }
}

@media (min-width: $grid-float-breakpoint-max+1) {
    .panel {
        
        .col-xs-2.col-sm-1 {
            padding: 0;
        }
        
        .panel-title {
            font-size: 22px;
            font-weight: 300;
            line-height: 30px;
            color: #333;
            margin-left:-15px;
        }
        
        .panel-heading {
            
            &[data-toggle] {
                min-height: 30px;
                line-height: 30px;
                
                .collapse-arrow {
                    height: 30px;
                    max-width: 46px;
                }
            }
        }
        
        .panel-controls {
            top: -2px;
        }
        
        .panel-body {
            .descript-title {
                padding-left: 30px;
            }
            
            .descript-title,
            .descript-text,
            .descript-text b {
                font-size: 13px;
            }
            
            b {            
                font-size: 130%;
            } 
            
            .list-group-item .item-collapse .item-text {
                font-size: 13px;
            }
        }
    }
    
    .panel.panel-tabs .nav-tabs {
        overflow: hidden;
    
        > li {
            min-width: 25%;
        }
    }
    
    .banner {
        
        a.row {
            font-family: empty;
            
            > span {
                font-family: $font-family-sans-serif;
                display: inline-block;
                vertical-align: middle;
                float: none;
                
                .img-responsive {
                    max-width: none;
                }
            }
        }
        
        .text {
            font-size: 30px;
            line-height: 38px;
            text-align: left;
        }
    }
    
    .panel.panel-tabs {
            
        .tab-pane {
            padding-top: 30px;
            margin-left: -15px;
            margin-right: -15px;
            
        }
        
        .links-logo {
            
            li {
                width: 50%;
                
                a {
                    padding: 10px 20px;
                }
            }
        }
        
        .internet-tv {
            
            .links-logo {
                
                li {
                    width: 33.33%;
                }
            }
        }
        
        .communal {
            
            .links-logo {
                padding-top: 10px;
                
                li {
                    width: 33.33%;
                }
            }
        }
        
        form {
            padding-top: 30px;
        }
    }
}