.form-control {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.panel .tbl-wrapp {
    padding-left: 15px;
    padding-right: 15px;
    
    > .row {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .form-inline {
        
        .form-control {
            color: #757575;
        }
        
        select.form-control {
            color: #097694;
            appearance: none; 
        }
        
        input.form-control {
            max-width: 100px;
        }
        
        .input-group-addon {
            float: none;
            color: #097694;
            background-color: transparent;
            border-left: none;
            border-right: none;
            
            &:first-child {
                border-left: 1px solid #ccc;
            }
            
            &:last-child {
                border-right: 1px solid #ccc;
            }
            
            .glyphicon,
            .pumbicon {
                color: #757575;
            }
        }
        
        .input-group {
            
            > .form-control {
                float: none;
                
                &[readonly] {
                    padding-left: 3px;
                    padding-right: 6px;
                    border-left: none;
                    width: 42px;
                    background-color: transparent;
                    
                    &:focus,
                    &:active,
                    &:hover {
                        box-shadow: none;
                        border-color: #ccc;
                    }
                }
                
                &.summ-range {
                    text-align: right;
                    max-width: 70px;
                    padding-right: 3px;
                    border-right-color: transparent;
                }
            }            
        }
    }
}

.panel .panel-body .tbl b {
    
}

@media (max-width: $grid-float-breakpoint-max) {
    .panel .tbl-wrapp .form-inline {        
        
        input.form-control {
            max-width: none;
        }
        
        .input-group-addon {
            min-width: 25px;
            padding: 6px;
            
            &:first-child {
                width: 61px;
            }
        }
        
        .input-group {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            
            > .form-control {
                padding: 6px;
                
                &[readonly] {
                    padding-right: 3px;
                    padding-left: 0;
                    width: 27px;                
                }
                
                &.summ-range {
                    max-width: none;
                    width: 47px;
                }
            }   
            
            &.summ-group {
                max-width: 260px;
                margin: 0 auto 10px;
                padding-right: 25px;
            }         
        }
        
        
    }
    
    .tbl {
        margin-top: 15px;
        margin-bottom: 15px;
        color: #6b6b6b;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        
        .self-hide {
            border-left: 1px solid #f1f2f4;
            border-right: 1px solid #f1f2f4;
            border-bottom: 1px solid #f1f2f4;
            
            > .col-xs-12 {
                //opacity: 0;
                display: none !important;
                //transition: opacity 250ms;
            }
            
            > .col-xs-12.tbl-descript {
                display: table !important;
                //opacity: 1;
                
                div[class^="col-"] {
                    border-top-color: transparent;
                    //padding-left: 15px;
                    //padding-right: 15px;
                    padding-bottom: 15px;
                }                
                
                .visible-xs {
                    display: none !important;
                }
            }
        }
        
        .self-hide.in {
            
            > .col-xs-12 {
                //opacity: 1;
                display: table !important;
            }
        }
        
        > .tbl-heading {
            display: table;
            width: 100%;
            border-collapse: collapse;
            margin: 0;
            font-size: 13px;
            line-height: 15px;
            color: #c8cbd0;
            
            > div[class^="col-"] {
                display: table-cell;   
                vertical-align: middle;
                border: 1px solid #f1f2f4;
                float: none;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            
            &:before,
            &:after {
                display: none;
            }
        }
        
        > .row {
            margin-left: 0;
            margin-right: 0;
            
            > .tbl-number,
            > .col-xs-6.tbl-date,
            > .tbl-summ {
                font-size: 13px;
                line-height: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
            > .col-xs-6.tbl-date {
                
            }
            
            > .tbl-number {
                
            }
            
            > .tbl-summ {
                
            }
        }
        
        .tbl-number {
            
        }
        .tbl-date {
            
        }
        .tbl-summ {
            
        }
        .tbl-control {
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .tbl-descript,
        .tbl-operation,
        .tbl-regular,
        .tbl-state,
        .col-xs-12.tbl-date,
        .tbl-commission {
            display: table;
            width: 100%;
            border-collapse: collapse;
            margin: -1px 0 0;
            
            > .row {
                display: table-row;
                
                > div[class^="col-"] {
                    display: table-cell !important;   
                    vertical-align: top;
                    border: 1px solid #f1f2f4;
                    float: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    
                    &:first-child {
                        text-align: left;
                        color: #c8cbd0;
                    }
                }
                
                &:before,
                &:after {
                    display: none;
                }
            }
        }
        
        .tbl-results {
            display: table;
            width: 100%;
            border-collapse: collapse;
            
            > div[class^="col-"] {
                display: table-cell; 
                vertical-align: middle;
                float: none;
            }
            
            .tbl-heading {
                color: #c8cbd0;
                text-align: left;
            }
            
            .tbl-summ {
                border: none;
                text-align: right;
            }
        }
        
        .tbl-descript {
            text-align: left;
        }
        
        .tbl-descript > .row > div[class^="col-"]:last-child {
            color: $brand-primary;
        }
        
        .tbl-state .btn {
            margin-left: 10px;
        }
    }
    
    .panel .tbl-wrapp > .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .panel .tbl-wrapp .form-inline {
        font-size: 11px;
        padding-left: 10px;
        padding-right: 10px; 
        
        .input-group-addon,
        .form-control {
            font-size: 11px;
        }
        
        .input-group {
            margin: 0 auto 10px;
            width: 100%;
        }
    }
    
    .panel .input-group .btn {
        display: block;
        width: 100%;
    }
}

@media (min-width: $grid-float-breakpoint-max+1) {
    .justify-content {
        text-align: justify;
        line-height: 1px;
        padding-top: 5px;
        padding-left: 0;
        
        &:after {
            content: '';
            width: 100%;
            display: inline-block;
        }
    }
    
    .panel .tbl-wrapp {
        padding-left: 0;
        padding-right: 0;
    }
    
    .tbl {
        display: table;
        padding: 0;
        width: 100%;
        color: #767676;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        border-collapse: collapse;
        
        &:before,
        &:after {
            display: none;
        }
        
        > .row {
            display: table-row;
            
            &:before,
            &:after {
                display: none;
            }
        }
        
        .tbl-results {
            
            > div[class^="col-"] {
                padding-top: 15px;
                padding-bottom: 15px;
                border: none;
                border-bottom: 1px solid #f1f2f4;
            }
        }
        
        > .row > div[class^="col-"] {
            display: table-cell;
            vertical-align: middle;
            float: none;
            padding: 7px 5px;      
            border: 1px solid #f1f2f4;
            
            &:first-child {
                border-left-color: transparent;
            }
            
            &:last-child {
                border-right-color: transparent;
            }
        }
        
        .tbl-heading {
            color: #767676;
            font-size: 11px;
            line-height: 13px;
            text-align: center;
        }
        
        .tbl-number {
            
        }
        .tbl-date {
            
        }
        .tbl-summ {
            
        }
        .tbl-descript {
            text-align: left;
            color: $brand-primary;
        }
        .tbl-operation {
            
        }
        .tbl-regular {
            
        }
        .tbl-state {
            .btn {
                margin-left: 5px; 
            }
        }
    }
}


@media (min-width: $grid-float-breakpoint-max+1) and (max-width: $screen-md-min - 1) {
    .panel .tbl-wrapp .form-inline {        
        
        input.form-control {
            max-width: none;
        }
        
        .input-group-addon {
            min-width: 25px;
            padding: 6px;
            
            &:first-child {
                width: 85px;
            }
        }
        
        .input-group {
            max-width: 460px;
            margin: 0 0 15px;
            display: table;
            
            > .form-control {
                
                &[readonly] {
                    padding-right: 6px;
                    padding-left: 6px;
                    width: 51px;               
                }
                
                &.summ-range {
                    max-width: none;
                    width: 110px;
                }
            }
            
            select {
                width: 434px;
            }   
            
            &.summ-group {
                max-width: 460px;
                margin: 0 0 15px;
            }         
        }
        
        
    }
}